body {
    color: black;
    background: rgba(71, 30, 153, 0.397) ;
 }

#header-img img {
    height: auto;
    width: auto;
	float:inherit;
	display: initial;
	text-align: center;
    vertical-align: middle;
    min-width: 25%;
    min-height: 25%;
    max-width: 32%;
    max-height: 99%;
}

