body {
  color: black;
  background-color: rgba(0, 250, 12, 0.13) ;
}

#header-img img {
	display: initial;
  vertical-align: middle; 
  background-image: url("./Acai & Juice Bar/images/logo.jpg");
  background-repeat: repeat-x;
  background-position:center;
  background-size:cover;
  height: 500px;
  width: auto;
}

.jumbotron {
  margin: 0px;
  padding: 30px;
  color: rgb(234, 234, 241);
  background-image: linear-gradient(to right, #0e5e03, #30c544de, #0af30a54);
}

.navbar {
  background-color: #0bb305;
}

h1, h2, h3 {
  font-family: 'Lobster', "Paprika", 'Indie Flower';
}

h1 {
  color: white;
  font-size: 5rem;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: seagreen;
  padding: 10px 0px 10px 10px;
  text-transform: uppercase;
}

h3 {
  color: #049aa5e3;
}

.site-footer {
  background-image: linear-gradient(#049aa5e3, white);
  padding: 20px 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 0px ridge;
  min-height: 200px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #CEC8FF;
}


main {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: repeat(3, 450px);
  grid-gap: 20px;
  margin-top: 44px;
  grid-auto-rows: 500px;
  justify-self: stretch;
}
  
img {
  width: 90%;
  height: auto;
}
  
.recipe {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
  
.bowl-ingredients {
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgb(22, 19, 43);
  position: relative;
  bottom: 5px;
}
  
.description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgb(1, 1, 29);
  padding: 5px 0px 5px 5px;
  border-top: 1px solid darkmagenta;
}
  
.logo {
  width: 115px;
  height: 150px;
  object-fit:contain;
  padding: 20px;
}
  
.container {
  min-width: 500px;
  margin: auto;
}